#expensecalc{
    width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 3rem;
    background-color:rgba(255, 255, 255, 0.8);
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
}

@media screen and (max-width: 767px) {
    #expensecalc{
        width: 97%;
        margin: 0 auto;
        margin-top: 2rem;
        padding: 1rem;
        background-color:rgba(255, 255, 255, 0.8);
        backdrop-filter: blur( 7.5px );
        -webkit-backdrop-filter: blur( 7.5px );
    }

    #ToastRecord{
        width: 200%;
    }
}