.navbar-brand {
    margin-left: 1rem;
}

@media only screen and (min-width: 768px) {
    #signinbutton{
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 767px) {
    button#signinbutton{
        padding: 1%;
        margin-right: auto;
        margin-left: -0.1rem;
        margin-top: 1rem;
        width: 40%;
    }

    .me-auto{
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 422px) {
    button#signinbutton{
        padding: 1%;
        margin-right: auto;
        margin-left: -0.1rem;
        margin-top: 1rem;
        width: 60%;
    }
}

.nav-link{
    color: grey;
    text-align: left;
    margin-left: 1rem;
}

.d-flex{
    margin-right: 2rem;
}