.expenses-filter {
    color: rgb(255, 255, 255);
    margin-left: 1rem;
    margin-top: 1rem;
  }
  
  .expenses-filter__control {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
  .expenses-filter label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .expenses-filter select {
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 5rem;
    margin-bottom: 0.6  rem;
    margin-right: 1rem;
    margin-top: -0.8rem;
  }
