#card1{
    margin: 0 auto;
    display: grid;
    width: 80%;
    margin-top: 3rem;
    background-color:rgba(255, 255, 255, 0.2);
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    box-shadow: 10px 10px 10px rgba(30,30,30,0.5);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 25px;
}
