div.lost{
    color:#000000;
    font-size:12pt;
    text-align:center;

}

button.neg404 {
    width: 6.9rem;
    height: 3rem;
    margin: 0 auto;
    padding:2px 8px;
    font-weight:bold;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

blink {
    color:yellow;
}

.link404{
    color: blue;
}

#shadow404{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}