#signinform{
    width: 30%;
    margin: 0 auto;
    margin-top: 3rem;
    background-color:rgba(255, 255, 255, 0.8);
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    box-shadow: 10px 10px 10px rgba(30,30,30,0.5);
}

#formsign{
    margin: 1rem;
}

.mb-2{
    margin-top: 1rem!important;
    
}

@media screen and (max-width: 767px) {
    #signinform{
        width: 90%;
        margin: 0 auto;
        margin-top: 3rem;
        background-color:rgba(255, 255, 255, 0.8);
        backdrop-filter: blur( 7.5px );
        -webkit-backdrop-filter: blur( 7.5px );
        box-shadow: 10px 10px 10px rgba(30,30,30,0.5);
    }
    
}